body {
  width: 100%;
  font-family: inter;
}
@font-face {
  font-family: inter;
  src: url(font/Inter-VariableFont_slnt\wght.ttf);
}
.my-nav {
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  color: white;
}
.logo {
  padding-left: 10px;
}
.logo a {
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.5em;
}
.my-nav-items {
  padding-right: 10px;
  font-size: 1.5em;
  color: black !important;
  font-weight: bold;
  justify-content: end;
}
.my-nav-items ul {
  align-items: center;
}

/* Section one */
.section-one {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-one-left {
  width: 45%;
  padding-left: 10px;
}
.sec-one-left p {
  font-size: 2.2em;
  font-weight: 500;
}
.sec-one-left p .bold {
  font-weight: bold;
}
.sec-one-left img {
  margin-left: 20px;
  margin-top: 30px;
  width: 50px;
}
.sec-one-right {
  width: 50%;
}
.sec-one-right img {
  padding-right: 10px;
  width: 100%;
}
my-icon {
  color: black;
}

/* Section two */

.section-two {
  margin-top: 70px;
  width: 100%;
}
.sec-two-top h3 {
  text-align: center;
  font-size: 2.2em;
}
.sec-two-top .bold {
  font-weight: bold;
}
.sec-two-top a {
  text-decoration: none;
  color: black;
}
.sec-two-bottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sec-two-bottom .skill {
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  width: 250px;
  justify-content: center;
  cursor: pointer;
}
.sec-two-bottom .skill:hover {
  background-color: black;
  color: white;
}
/* section three */
.section-three {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.section-three .left {
  width: 45%;
}
.section-three .left img {
  width: 100%;
}
.section-three .right {
  width: 50%;
  margin-left: 30px;
}
.section-three .right h3 {
  font-size: 2em;
}
.section-three .right h3 .bold {
  font-weight: bold;
}
/* section four */

.section-four {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  background-color: black;
  color: white;
  padding-top: 30px;
}
.sec-four-top h3 {
  text-align: center;
  font-size: 2.2em;
}
.sec-four-top h3 .bold {
  font-weight: bold;
}
.sec-four-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.sec-four-bottom img {
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  height: 200px;
}
.sec-four-bottom .one {
  width: 25%;
  padding: 10px;
}
.sec-four-bottom p {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
.sec-four-bottom a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* section five */
.section-five {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section-five .left {
  padding-left: 10px;
  width: 50%;
}
.section-five .left input {
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
}
.section-five .right {
  width: 40%;
  padding-right: 10px;
  margin-right: 10px;
}
.section-five .left textarea {
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.section-five .right h3{
  font-size: 2.3em;
  font-weight: bold;
  line-height: 60px;
}
.section-five .right  p{
  line-height: 30px;
}
.section-five .right  h4{
  font-size: 1.4em;
  font-weight: bold;
}
.section-five .left button{
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
.section-five .left img{
  width: 40px;
  margin-left: 10px;
}
.footer{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;

}