@media only screen and (max-width: 850px) {
    .section-one{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
    }
    .sec-one-left{
        margin-top: 30px;
        width: 80%;
    }
    .sec-one-left p{
        font-size: 1.7em;
    }
    .sec-one-right{
        /* margin-top: 20px; */
        width: 100%;
    }
    .sec-one-right img{
        width: 100%;
    }
    .sec-two-bottom .skill {
        font-size: 1.7em;
        width: 220px; 
        margin-top: 20px;
        margin-left: 10px;
        
    }

}