@media only screen and (max-width: 850px) {
  .section-one {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }
  .sec-one-left {
    margin-top: 30px;
    width: 80%;
  }
  .sec-one-left p {
    font-size: 1.7em;
  }
  .sec-one-right {
    /* margin-top: 20px; */
    width: 100%;
  }
  .sec-one-right img {
    width: 100%;
  }
  .sec-two-bottom .skill {
    font-size: 1.7em;
    width: 220px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .section-three {
    width: 100%;
    flex-direction: column;
  }
  .section-three .left {
    width: 90%;
    padding: 10px;
    align-items: center;
    justify-content: left;
  }
  .section-three .right {
    margin-top: 40px;
    width: 85%;
  }
  .section-three .right p {
    margin-top: 10px;
  }
  .sec-four-bottom{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .sec-four-bottom img{
    width: 100%;
    height: 100%;
  }
  .sec-four-bottom .one{
    width: 65%;
  }
  .section-five{
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-five .left{
    width: 70%;
  }
  .section-five .left input{
    width: 100%;
  }
  .section-five .left textarea{
    width: 100%;
  }
  .section-five .right{
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .section-five .left img{
    margin: 10px;
    /* width: 30px; */
  }
  .section-five .right h4{
    font-size: 1em;
  }
}
